site_name: VS Code Pets
nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Pets: pets.md
  - Themes: themes.md
  - Changelog: ../CHANGELOG.md
  - Credits: credits.md
  - Contributing: contributing.md

theme:
  name: material
  features:
    - content.code.copy
repo_url: https://github.com/tonybaloney/vscode-pets
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - admonition
  - pymdownx.details