html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

#control-container {
	display: flex;
    gap: 10px;
    width: 100%;
}

button {
    display: inline-block;
    border: 1px solid #0066cc;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover:not(:disabled) {
    border: 1px solid #0056b3;
    background-color: #0056b3;
}

button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    pointer-events: none;
}

#chatbox {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    background-color: #2e2e2e;
    border: 1px solid #555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    font-family: 'Cute Font', sans-serif; /* Use your preferred font */
  }
  
  #chatbox-header {
    background-color: #3e3e3e;
    border-bottom: 1px solid #555;
    border-radius: 10px 10px 0 0;
    text-align: center;
    font-size: 16px;
    width: 100%;
  }
  
  #chatbox-messages {
    max-height: 200px;
    overflow-y: auto;
  }
  
  #chatbox-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #555;
  }
  
  #message-input {
    width: 80%;
    flex: 1;
    padding: 5px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: #fff;
  }
  
  #send-button {
    width: 10%;
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4e4e4e;
    color: #fff;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: #5e5e5e;
  }

  .message-sender {
    font-weight: bold;
  }